width = 640px

*
	border 0
	margin 0
	padding 0
	font-size 100%
	box-sizing border-box

html
	width 100%
	background-color rgb(0, 150, 170)
	background-image url(../images/noise.png), radial-gradient(at top center, rgb(30, 170, 180), rgb(30, 120, 160) 600px)

body
	font-size 14px
	line-height 1.3
	font-weight 500
	font-family Arial
	color rgb(80, 80, 80)

ul
	list-style-position inside
	margin-bottom 10px

p
	margin-bottom 1em
	images
		vertical-align middle

h1, h2, h3
	font-family Arial
	font-weight 900

pre
	margin-left -2rem
	margin-right -2rem
	margin-bottom 1em

.ace_editor
	font-size 0.75em !important

textarea
	background-color rgb(29, 31, 33)
	color rgb(197, 200, 198)
	margin-bottom 1em
	width 100%

code
	background-color rgb(240, 240, 240)
	border 1px solid rgb(220, 220, 220)
	padding 0 0.3em
	border-radius 2px
	color rgb(100, 100, 100)

#forkMe
	display block
	background-image url("//s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png")
	height 149px
	width 149px
	text-indent -9999px
	position absolute
	top 0
	right 0

#buttons
	margin-bottom 1em
	.github
		display inline-block
		width 80px
		height 20px

#wrapcontent
	margin auto
	padding 10em 1em 0 1em
	background-image url(../images/mustache.png)
	background-repeat no-repeat
	background-position 50% 1em
	background-size 14em

header
	h1, h2, small
		color white

	h1
		display inline-block
		font-size 6em
		font-family "Grand Hotel", sans-serif
		text-shadow 2px 2px 1px rgba(0, 0, 0, 0.4)
		margin-bottom 1.5rem
		margin-right 2rem

	h2
		font-size 19px
		font-family "Trebuchet MS", sans-serif
		font-weight 500
		text-shadow 1px 1px 1px rgba(0, 0, 0, 0.4)
		text-align center
		margin-bottom 40px

	small
		vertical-align: middle
		font-size 2em
		text-shadow 1px 1px 1px rgba(0, 0, 0, 0.4)


section
	background-color white
	border-radius 8px
	box-shadow 1px 1px 10px rgba(0, 0, 0, 0.4)
	margin-bottom 20px
	padding 2rem
	h1
		color rgb(0, 0, 0)
		font-size 18px
		margin-bottom 20px
		border-bottom 1px solid rgb(200, 200, 200)
	h2
		color rgb(40, 40, 40)
		font-size 15px
		margin-bottom 1.5em
		margin-top 2.5em
	h1 + h2
		margin-top 1em

strong
	margin-bottom 2em

footer
	padding 0 2em
	text-align center
	color rgb(200, 200, 200)
	margin-bottom 5em
	a
		color white
		text-decoration none
	span
		margin 0 0.5em
	#version
		margin-top 1em
		display block

.editable:after
	content " "
	background-image url(../images/edit.png)
	background-size 23px
	width 23px
	height 23px
	position absolute
	top 10px
	right 10px
	z-index 3


@media screen and (min-width width)

	#wrapcontent
		width width
		padding 4em 1em 0 1em
		background-position 24em 2em
		background-size 12em

	footer
		text-align left
		#version
			float right
			margin-top 0
